html,
body {
	height: 100%;
	color: #bcc2cd;
	font-size: 17px;
	font-family: sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	max-width: 1920px;
	min-width: 320px;
	background-color:#383a59;
}

.header {
	background-color:#282a36;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
	background-color:#282a36;
}

.container{
	background-color:#282a36;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
	color:  #bd93f9;
}





