@media  (max-width: 900px) {

}
    
/* @media  (max-width: 1024px) {
  .header__inner {
     flex-wrap: wrap;
     height: auto;
     
  }
  .menu {
    order: 1;
    width: 100%;
  }
  .menu__list {
     justify-content: flex-end;
  }
} */