@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.logo {
  &__img {
    display: block;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__list {
    display: flex;
  }
  &__item {
    margin-left: 25px;
  }
  &__link {}
}

.menu {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 320px;
  width: 100%;
  padding-top: 40px;
  background-color:#282a36;
  box-shadow: -2px 3px 17px 0px #000;
  transition: all 0.8s;
  z-index: 99;
  text-align: center;
  display: none;
  &__button {
    margin-bottom: 50px;
  }
  &__list {
    margin-bottom: 25px;
  }
  &__item {
    padding: 10px;
  }
  &__link {}
}






.main {
  &__content {
    padding-bottom: 50px;
  }
  &__title {
    color: aliceblue;
    padding-top: 100px;
    margin: 0px 0px 75px 3%;
    
  }
  &__img {
    margin-bottom: 100px;
  }
  &__subtitle {
    color: aliceblue;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  &__text {
    margin-bottom: 19px;
  }
  &__text-link {}
}

.main__btn {
  text-align: center;
  padding-bottom: 50px;
}

.footer__inner{
  display: flex;
  justify-content: center;
  &__logo {}

  }


@import 'media';